
.heading {
	text-align: left;
	padding: 2px;
	width: 100%;
	height: 15%;
	background-color: #fff;
	border-radius: 10px;
}
.detail-title {
	text-align: left;
	margin-left: 10px;
	color: #777;
	width: 50%;
	font-family: Arial;
	font-size: 30px;
	float: left;
}
.content {
	margin-top: 20px;
	text-align: left;
	padding: 3px;
	width: 58%;
	float : right;
	background-color: #fff;
	border-radius: 10px;
	height: 50%;
}

.profile-image {
	margin-top: 20px;
	padding: 3px;
	position: relative;
	width: 40%;
	float : left;
	background-color: #fff;
	border-radius: 10px;
	height: 50%;
	overflow: hidden;
}

.image {
	margin: auto;
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-labels {
	font-family: Arial;
	color: #777;
	margin-left: 10px;
	font-size: 15px;
}

.btn {
  border-radius: 15px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
}

.message{
	font-family: Arial;
  color: #ffffff;
  font-size: 20px;
}

body {
	background-color: #3498DB;
	padding: 50px;
}
