{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="{% static 'studentlogin/style.css' %}" />
</head>

<body>
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
      <form action="{% url 'studentlogin:index' %}" method="post">
      {% csrf_token %}
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Username" id="login-name" name="username" required>
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" id="login-pass" name="password" required>
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
        {% if error_message %}<p>{{ error_message }}</p>{% endif %}
				<input type="submit" class="btn btn-primary btn-large btn-block" value="Login"/>
				<a class="login-link" href="{% url 'studentlogin:register' %}">New User? Register here</a>
			</div>
    </form>
		</div>
	</div>
</body>


</body>
</html>
